<!DOCTYPE html>
@using MvcMovie.Helpers
@helper BookList(IEnumerable<MvcMovie.Models.Book> books)
{
    <ul>
        @foreach (MvcMovie.Models.Book b in books)
        {
            <li>@b.Name</li>
        }
    </ul>
}

<div>
    <h3>Распродажа книг</h3>
    <table>
        <tr class="header">
            <td><p>Название книги</p></td>
            <td><p>Автор</p></td>
            <td><p>Цена</p></td>
            <td></td>
        </tr>
        @foreach (MvcMovie.Models.Book b in Model)
        {
            <tr>
                <td><p>@b.Name</p></td>
                <td><p>@b.Author</p></td>
                <td><p>@b.Price</p></td>
                <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
            </tr>
        }
    </table>
    <h3>Список книг</h3>
    @BookList(ViewBag.Books)
    @ListHelper.CreateList(Html, new string[] { "Лондон", "Париж", "Берлин" }, new { @class = "btn", id = "citiesList" })
    @Html.RadioButton("color", "red")
    <span>красный</span> <br />
    @Html.RadioButton("color", "blue")
    <span>синий</span> <br />
    @Html.RadioButton("color", "green", true)
    <span>зеленый</span>
</div>
@section Footer
    {
    Footer 2021.
}